html{
    background-color: snow;
    font-family: "Arial", sans-serif;
    width: 100%;
    height: 100%;
    font-size:larger;
}

#Titel1{
text-align: center;
margin: 0 auto;
font-size: 2em;
color: rgb(66, 22, 244);

}

#centrado{
    width: 50%;
}


#flex-container1{
    display: flex;
    justify-content: center;
    align-content: center;
}

#flex-container1 > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    border: 1px solid black;
    font-size: 1.2rem;
}

#flex-container1 > div >ol {
    font-size: 1.2rem;

}

img{
    margin: 0 auto;
    display: block;
}